<?xml version="1.0"?>
<config>
    <modules>
        <TM_OrderAttachment>
            <version>1.1.3</version>
        </TM_OrderAttachment>
    </modules>

    <global>
        <blocks>
            <orderattachment>
                <class>TM_OrderAttachment_Block</class>
            </orderattachment>
        </blocks>
        <helpers>
            <orderattachment>
                <class>TM_OrderAttachment_Helper</class>
            </orderattachment>
        </helpers>
        <models>
            <orderattachment>
                <class>TM_OrderAttachment_Model</class>
                <resourceModel>orderattachment_resource</resourceModel>
            </orderattachment>
            <orderattachment_resource>
                <class>TM_OrderAttachment_Model_Resource</class>
                <entities>
                    <attachment>
                        <table>tm_orderattachment</table>
                    </attachment>
                </entities>
            </orderattachment_resource>
        </models>
        <resources>
            <tm_orderattachment_setup>
                <setup>
                    <module>TM_OrderAttachment</module>
                </setup>
            </tm_orderattachment_setup>
        </resources>
    </global>

    <frontend>
        <routers>
            <orderattachment>
                <use>standard</use>
                <args>
                    <module>TM_OrderAttachment</module>
                    <frontName>attachment</frontName>
                </args>
            </orderattachment>
        </routers>
        <translate>
            <modules>
                <TM_OrderAttachment>
                    <files>
                        <default>TM_OrderAttachment.csv</default>
                    </files>
                </TM_OrderAttachment>
            </modules>
        </translate>
        <layout>
            <updates>
                <orderattachment>
                    <file>tm/orderattachment.xml</file>
                </orderattachment>
            </updates>
        </layout>
        <events>
            <controller_action_predispatch_firecheckout_index_saveOrder>
                <observers>
                    <orderattachment_save_comment>
                        <class>orderattachment/observer</class>
                        <method>saveAttachmentComment</method>
                    </orderattachment_save_comment>
                </observers>
            </controller_action_predispatch_firecheckout_index_saveOrder>
            <controller_action_predispatch_firecheckout_onecolumn_saveOrder>
                <observers>
                    <orderattachment_save_comment>
                        <class>orderattachment/observer</class>
                        <method>saveAttachmentComment</method>
                    </orderattachment_save_comment>
                </observers>
            </controller_action_predispatch_firecheckout_onecolumn_saveOrder>
            <!-- <checkout_type_onepage_save_order_after> -->
            <sales_order_place_after>
                <observers>
                    <orderattachment_assign_order_id>
                        <class>orderattachment/observer</class>
                        <method>assignOrderId</method>
                    </orderattachment_assign_order_id>
                </observers>
            </sales_order_place_after>
            <!-- </checkout_type_onepage_save_order_after> -->
        </events>
    </frontend>

    <adminhtml>
        <translate>
            <modules>
                <TM_OrderAttachment>
                    <files>
                        <default>TM_OrderAttachment.csv</default>
                    </files>
                </TM_OrderAttachment>
            </modules>
        </translate>
        <layout>
            <updates>
                <orderattachment>
                     <file>tm/orderattachment.xml</file>
                </orderattachment>
            </updates>
        </layout>
    </adminhtml>

    <admin>
        <routers>
             <adminhtml>
                 <args>
                     <modules>
                         <orderattachment before="Mage_Adminhtml">TM_OrderAttachment_Adminhtml</orderattachment>
                     </modules>
                 </args>
             </adminhtml>
        </routers>
    </admin>

    <crontab>
        <jobs>
            <orderattachment_clear_ghost>
                <schedule>
                    <cron_expr>30 1 * * *</cron_expr> <!-- Every Day at 1:30AM -->
                </schedule>
                <run>
                    <model>orderattachment/observer::clearGhostAttachments</model>
                </run>
            </orderattachment_clear_ghost>
            <orderattachment_clear_old_guest>
                <schedule>
                    <cron_expr>45 1 * * *</cron_expr> <!-- Every Day at 1:45AM -->
                </schedule>
                <run>
                    <model>orderattachment/observer::clearOldGuestAttachments</model>
                </run>
            </orderattachment_clear_old_guest>
        </jobs>
    </crontab>

    <default>
        <orderattachment>
            <general>
                <enabled>0</enabled>
                <checkout_upload>1</checkout_upload>
                <orderview_upload>0</orderview_upload>
            </general>
            <restrictions>
                <count>3</count>
                <size>200</size>
                <extension>jpg,jpeg,png,gif</extension>
            </restrictions>
        </orderattachment>
    </default>
</config>
