<?xml version="1.0"?>
<config>
    <modules>
        <MD_Custom>
            <version>0.1.0</version>
        </MD_Custom>
    </modules> 
    <global>
        <resources>
            <custom_setup>
                <setup>
                    <module>MD_Custom</module>
					<class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </custom_setup>
            <custom_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </custom_write>
            <custom_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </custom_read>
        </resources>
		<fieldsets>
            <sales_convert_quote_address>
                <tax_number>
                    <to_order_address>*</to_order_address>
                    <to_customer_address>*</to_customer_address>
                </tax_number>
            </sales_convert_quote_address>
            <customer_address>
                <tax_number>
                    <to_quote_address>*</to_quote_address>
                </tax_number>
            </customer_address>
        </fieldsets>
    </global>
</config>